
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #7020ff;
}

header {
    background-color: #7020ff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease; 
}

header nav a:hover {
    text-decoration: underline;
    color: #c6bbd7; 
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #7020ff;
}


.intro {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 2px 4px #7020ff(0, 0, 0, 0.1);
}

.intro p {
    font-size: 18px;
    text-align: center;
    color: #7020ff;
}


.mission-vision {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.mission, .vision {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 4px #7020ff(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission:hover, .vision:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px #7020ff(0, 0, 0, 0.2); 
}

.mission p, .vision p {
    color: #7020ff;
}


.team {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.team h2 {
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.member {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px #7020ff(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.member:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px #7020ff(0, 0, 0, 0.2); 
}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member h3 {
    margin: 10px 0 5px;
    color: #7020ff;
}

.member p {
    margin: 5px 0;
    color: #7020ff;
}


footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #7020ff;
    color: #fff;
    margin-top: 20px;
}
